
@{
	ViewData["Title"] = "Gracias";
}


<h1>Gracias por ponerte en contacto comingo</h1>
<p>Te contestaré el mensaje lo más pronto posible</p>
<a asp-controller="Home" asp-action="Index">Volver al home</a>